.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background: #202020;
    padding: 20px 0px;
  }
  .footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #050233;
  }
  .footer-social-icons ul li:hover{
    background: #fff;
    transition: 1s;
    transform: scale(1.2);
  }
  .footer-social-icons ul li a{
    color: #fff;
    font-size: 25px;
    display: block;
  }
  .footer-social-icons ul li a.fb:hover{
    color: blue;
    transition: .8s;
    transform: scale(1.1);
  }
  .footer-social-icons ul li a.t:hover{
    color: rgb(0, 228, 228);
    transition: 1s;
    transform: scale(1.1);
  }
  .footer-social-icons ul li a.g:hover{
    color: black;
    transition: 1s;
    transform: scale(1.1);
  }
  .footer-social-icons ul li a.li:hover{
    color: rgb(29, 107, 170);
    transition: 1s;
    transform: scale(1.1);
  }.footer-social-icons ul li a.i:hover{
    color: rgb(221, 30, 126);
    transition: 1s;
    transform: scale(1.1);
  }
  .footer-social-icons ul li a i{
    line-height: 50px;
  }
  .footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
  }
  .footer-menu-one ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
  }
  .footer-menu-two{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-menu-two ul li{
    display: inline-block;
    margin: 0px 15px;
  }
  .footer-menu-two ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
  }
  .footer-bottom{
    height: auto;
    margin: auto;
    background: #050233;
    padding: 10px;
  }
  .footer-bottom p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;
  }